################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyApp/.vs/CurrencyApp
/.vs
/CurrencyApp/obj
