################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyApp/.vs/CurrencyApp
/.vs
/CurrencyApp/obj
/CurrencyApp/bin/Debug/net7.0-windows
